*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.dashboard-body {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

.dashboard-container {
    width: 100%;
    max-width: 1100px;
}

.info-stats {
    background-color: #fff;
    min-height: 145px;
    border-radius: 17px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.dashboard-main {
    background-color: #fff;
    border-radius: 17px;
    padding: 20px;
    min-height: 400px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.main-layout {
    display: flex;
    min-height: calc(100vh - 70px);
}

.content-wrapper {
    flex: 1;
    padding: 20px;
    background: #F8FAFC;
}

/* ---- lugares que tem table vai usar esse css ----- */
.custom-table-card {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: none; /* Remove bordas se houver */
}

/* Ajuste das linhas da tabela */
.table.align-middle tbody td {
    border-bottom: 1px solid #f1f5f9;
    padding: 12px;
}

/* Botões de Ação - Base */
.btn.btn-action {
    width: 34px;
    height: 34px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    border: none !important; /* Força a remoção da borda do Bootstrap */
}

/* Estilização individual com cores e Hovers */

/* Botão Visualizar */
.btn.btn-show {
    background-color: #f1f5f9 !important;
    color: #64748b !important;
}
.btn.btn-show:hover {
    background-color: #e2e8f0 !important;
    color: #1e293b !important;
    transform: translateY(-2px);
}

/* Botão Editar */
.btn.btn-edit {
    background-color: #eff6ff !important;
    color: #3b82f6 !important;
}
.btn.btn-edit:hover {
    background-color: #dbeafe !important;
    color: #1d4ed8 !important;
    transform: translateY(-2px);
}

/* Botão Excluir */
.btn.btn-delete {
    background-color: #fef2f2 !important;
    color: #ef4444 !important;
}
.btn.btn-delete:hover {
    background-color: #fee2e2 !important;
    color: #b91c1c !important;
    transform: translateY(-2px);
}